@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', serif;
}

body{
    background-color: #FCFBF4;
}

/* HEADER */

.header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    padding: 20px 12%;
    background-color:#FCFBF4;
     /*FCFBF4  */
    justify-content: space-between;
    backdrop-filter: blur(10px);
    display:flex;
    align-items: center;
    z-index:100;
}

.logo{
    font-size:30px;
    color:#000;
    font-weight:500;
    transition: 0.3s ease;
}

.logo:hover {
    color:#E74C3C ;
    text-shadow: 0 0 25px #E74C3C ,
                 0 0 50px #E74C3C ;
    transform: scale(1.1);
}

span{
    color:#E74C3C ;
}

.navbar a{
    color: #000;
    font-size: 16px;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color:#E74C3C ;
    border-bottom: 3px solid #E74C3C ;
}

.contact {
    padding:10px 20px;
    color:white;
    background-color:black;
    border:2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing:1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: #E74C3C ;
    box-shadow: 0 0 25px #E74C3C ;
    color:white;
}

/* HOME */

.home{
    width:100%;
    min-height:100vh;
    margin-top: 10vh;
    background-color:#FCFBF4;
    display:flex;
    align-items: center;
    gap:7em;
    padding:30px 12% 0;
}

.home-content{
    max-width:800px;
}

.home-content h3{
    font-size:42px;
}

.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}

.home-content p{
    font-size:18px;
    margin:25px 0 30px;
}

.btn-box{
    width:345px;
    display:flex;
    gap: 2em;
}

.btn-1{
    padding:15px 28px;
    background-color: black;
    color:White;
    border:2px solid transparent;
    border-radius:8px;
    font-size:18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor:pointer;
}

.btn-1:hover{
    background-color: #FCFBF4;
    color:black;
    border:2px solid black;
}
.btn-2{
    padding:15px 28px;
    background-color:#E74C3C ;
    color:white;
    border: 2px solid #E74C3C ;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor:pointer;
}

.btn-2:hover{
    background-color:#FCFBF4;
    color:#E74C3C ;
}

.img-box img{
    border-radius: 2em;
    width:350px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    background-color: #E74C3C ;
    border-radius: 2em;
}
::-webkit-scrollbar-track{
    background-color: grey;
    border-radius: 2em;
    width: 20px;
}

/* ABOUT */

.about{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:12% 8%;
    gap: 10em;
    background:#FCFBF4;
}

.about-img img{
    position:relative;
    width:350px;
    box-shadow: 0 0 25px #E74C3C ,
                0 0 50px #E74C3C ;
    border-radius: 2em;
    
}

.about-content h2{
    text-align: left;
    color:black;
    font-size:32px;
}

.about-content h3{
    font-size: 62px;
    color:black;

}

.about-content p {
    color:black;
    font-size:20px;
    margin: 2em 0 3em;
}

/* PHOTOS */
.photo-header{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size:62px;
}

.photo-container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0% , 0%, 0.25);
    border-radius: 0.5rem;
    background-color: #000;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #FCFBF4;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity:1;
} 

/* CONTACT FORM */
.contact-section {
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 1rem;
  }
  
  .contact-intro > * + * {
    margin-top: 1rem;
  }
  
  .contact-title {
    font-size: 62px;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .contact-description {
    text-align: center;
    color: rgb(107 114 128);
  }
  
  .form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  .form-input,
  .form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .form-input::placeholder,
  .form-textarea:focus-visible {
    color: #6b7280;
  }
  
  .form-input:focus-visible,
  .form-textarea:focus-visible {
    outline: 2px solid #E74C3C ;
    outline-offset: 2px;
  }
  
  .form-textarea {
    min-height: 120px;
  }
  
  .form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: #E74C3C ;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
  }
  
/* FOOTER */

.footer{
    position: relative;
    bottom: 0;
    width:100%;
    padding: 40px 0;
    background-color:#FCFBF4;
}

.footer .social{
    text-align:center;
    padding-bottom:25px;
    color:black;
}

.footer .social a{
    font-size:24px;
    color:black;
    border:2px solid #E74C3C ;
    width:40px;
    height: 40px;
    line-height: 1.5em;
    display:inline-block;
    text-align: center;
    border-radius: 50%;
    margin:0 8px;
    box-shadow: inset 0 0 10px #E74C3C ,
                      0 0 10px #E74C3C ;
    transition: 0.3s ease;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color:#E74C3C ;
    border: 2px solid #E74C3C ;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid #E74C3C ;
}
.footer ul li{
    display: inline-block;
    padding: 0px 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: black;
}

